@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
.Courier_font{
    font-family: 'Courier Prime', monospace;
}
main{
    border: 2px solid black;
    background-color:#6f91db;
}
input[type=color]{
    width:35px;
    outline:none;
    border:none;
    background:none;
}
hr{
    border: 1px solid rgba(22, 22, 22, 0.671) !important; 
}
input[type=number]::placeholder{
    color:black;
}